<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LANDING PAGE</title>
 </head>
<body>
    
    <%- include(`./navbar`, {isLogin, isAdmin}) %></br>
    <h1></h1></br>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.tokopedia.net/img/cache/1200/NXCtjv/2023/4/3/8c5aa3bc-15cf-4649-bb40-919900d68e2c.jpg.webp" class="d-block w-100" style="object-fit: cover;" alt="https://images.tokopedia.net/img/cache/1200/NXCtjv/2023/4/3/8c5aa3bc-15cf-4649-bb40-919900d68e2c.jpg.webp">
        </div>
        <div class="carousel-item">
          <img src="https://images.tokopedia.net/img/cache/1208/NsjrJu/2023/4/4/08608449-17cd-46d7-aa53-b3af60efa142.jpg.webp?ect=4g" class="d-block w-100" alt="https://images.tokopedia.net/img/cache/1208/NsjrJu/2023/4/4/08608449-17cd-46d7-aa53-b3af60efa142.jpg.webp?ect=4g">
        </div>
        <div class="carousel-item">
          <img src="https://images.tokopedia.net/img/cache/1208/NsjrJu/2023/4/4/c4086990-23bc-48a1-9a36-70e56235e2ef.jpg.webp?ect=4g" class="d-block w-100" alt="https://images.tokopedia.net/img/cache/1208/NsjrJu/2023/4/4/c4086990-23bc-48a1-9a36-70e56235e2ef.jpg.webp?ect=4g">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </body>
</html>