<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="fs-4">
          <a class="nav-link active" aria-current="page" href="/">Cek Toko Sebelah |</a>
        </li>
        <% if (role === 'admin') { %>
          <li class="fs-4">
            <a class="nav-link" href="/admin/products">Dashboard |</a>
          </li>
        <% } else if (role === 'user') { %>
          <li class="fs-4">
            <a class="nav-link" href="/profile">Profile |</a>
          </li>
          <li class="fs-4">
            <a class="nav-link" href="/products">Products |</a>
          </li>
          <li class="fs-4">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="fs-4">
            <a class="nav-link" href="/login">Login |</a>
          </li>
          <li class="fs-4">
            <a class="nav-link" href="/register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>