body { 
    background-color: #dbe5e7;
}
.row-search {
    display: flex;
}
.col1{
   flex-grow: 6;
}
.col2 {
    flex-grow: 2;
}
.col1, .col2{
    margin-right: 20px;
}
.list {   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-fluid h2{
    text-align: center;
    margin-bottom: 5%;
}
.card-body h5 {
    font-size: 2vw;
}
.card {
    margin-bottom: 5%;
    font-size: 1.2vw;
}
.home {
    width: 80%;
}
.detail {
    width: 70%;
}
.img-fluid {
    width: 100%;
}
